.material-icons.ko { color: #FF3855; }
.material-icons.ok { color: #77E5B3; }

table {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Verdana, Geneva, sans-serif;
    border-color: grey;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    /* font-family: canada-type-gibson,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

/* margin first element */
.first {
    margin-left: 10px;
}

/* disallow to select text */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* sticky */
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* general buttons */
.button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	width: 155px;
}

.button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.button:active {
	position:relative;
	top:1px;
}

/* add and remove buttons */
.circle-button {
    height: 30px;
    line-height: 30px;  /* sets the text in the center */
    width: 30px;
    font-size: 2em;
    /* font-weight: bold; */
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}

.red-btn{
    background-color: #ff3838;
    line-height: 25px;
}

.green-btn{
    background-color: #4CAF50;
}

/* hint style */
.hint__circle {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  -webkit-border-radius: 100px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-family: arial;
  font-size: 20px;
  border: 2px solid black;
  opacity: .4;
}

.hint__circle:hover {
  border: 2px solid #f37920;
  color: #f37920;
  cursor: pointer;
  opacity: 1;
}

/* dropdown menu */
select {
  padding: 5px;
}