<!DOCTYPE html>
<body lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/navigation-top.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/table_filter.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/table_sort.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/multiselect-dropdown.css') }}">
    <title>Network Monitor</title>
</head>
    <body>

        <div id="sticky" class="sticky">
            <div class="navbar sticky">
              <a href="/">Dashboard</a>
              <a href="/devices">Devices</a>
              <a><input value="{{ settings_dict['refresh_timeout'] }}" onblur="update_db_settings(this)" style="text-align: right; width: 30%;" type="number" id="refresh_timeout" min="1" maxlength="6">&nbsp;s</a>
    <!--          <a href="/" rel="home">&nbsp;&nbsp;<img src="/static/icons/home.png" alt="Home" width="4%" height="4%">Home</a>-->
            </div>

            <input type="text" id="filter" class="sticky" onkeyup="filter_function()" placeholder="Search.." title="Type in a name">
        </div>

        <div class="main">

{% block content %}
{% endblock %}

        </div>

    <script src="{{ url_for('static', filename='js/common.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/table_filter.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/table_sort.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/multiselect-dropdown.js') }}" type="text/javascript"></script>

    <script>

        function update_db_settings(element){
            let timeout = Number(element.valueAsNumber);

            let settings_dict = {};
            settings_dict['refresh_timeout'] = timeout;

            let settings_json = JSON.stringify(settings_dict);

            AJAX("/update_db_settings/" + settings_json, "POST")
            .then(function(result) {
                // Code depending on result
                ;
            })
            .catch(function() {
                // An error occurred
            });
        }

        function init() {
            var sorter = tsorter.create('myTable');
        }

        window.onload = init;
    </script>
    </body>
</html>