{% extends 'base.html' %}
{% block content %}

    {# <button type="button" onclick="update_results()">refresh</button>  <!-- test purposes --> #}
    <table id="myTable" class="sortable">
        <thead>
            <tr class="noselect header">
{%-     for _, h in table_fields.items()                                %}
{%-        if loop.index == 1                                          %}
                <th data-tsorter="numeric">{{ h }}</th> {# nosort #}
{%-        else                                                         %}
                <th data-tsorter="input-text">{{ h }}</th> {# nosort #}
{%-        endif                                                        %}
{%-     endfor                                                          %}
                <th></th>
            </tr>
        </thead>
        <tbody>

{%-     for d in records                                                %}
            <tr class="noselect">
{%-       for k, _ in table_fields.items()                              %}
{%-          if k == 'enabled'                                          %}
{%-              if d[k]                                                %}
{%-                  set checkbox_status = 'checked'                    %}
{%-              else                                                   %}
{%-                  set checkbox_status = ''                    %}
{%-              endif                                                  %}
                <td><input type="checkbox" name="{{d[0]}}" onchange="setInnerText(this)" {{ checkbox_status }} />&nbsp;</td>
{%-          else                                                       %}
                <td oncontextmenu="return make_it_editable(this);" ondblclick="make_it_editable(this);" onblur="make_it_readonly(this)">{{ d[k] }}</td>
{%-          endif                                                      %}
{%-       endfor                                                        %}
<!--                <td><input type="button" value="Delete" onclick="deleteRow(this)" class="circle-button"></td>-->
                <td><div onclick="deleteRow(this)" class="circle-button red-btn">-</div></td>
            </tr>
{%-     endfor                                                          %}

        </tbody>
    </table>

    <div onclick="addRow()" class="circle-button green-btn first">+</div>

    <br>

    <button type="button" class="button first" onclick="save_changes()" style="display: inline-block">Save changes</button>
    <div class="first" id="saving_status" style="display: inline-block"></div>  <!-- Label which displays the database update result -->

    <br><br>

    <button type="button" class="button first" onclick="discover_hosts()">Discover hosts</button>
    <label class="noselect" for="discovery_update" style="display: inline-block"><input type="checkbox" name="discovery_update" id="discovery_update">Only find new hosts</label>
    <div class="container" id="myMulti_container">
        <select multiple="multiple" id="myMulti">
          {% for item in network_cards %}
          <option>{{ item }}</option>
          {% endfor %}
        </select>
    </div>

    <br><br>

    <div class="hint__circle first" style="display: inline-block">?</div>
    <div style="display: inline-block">For editing a cell, double click or right click on it</div>

    <br><br>

<script>
function make_it_editable(element){
    element.setAttribute('contenteditable', true)

    return false;
}


function make_it_readonly(element){
    element.setAttribute('contenteditable', false)
}


function addRow(){
    // Find a <table> element with id="myTable":
    let table = document.getElementById("myTable");

    // Find the max id number in the table
    let r=0;
    let ids = [];
    while(row_table=table.rows[r++])
    {
      if(r === 1){
        continue;
      }

      var c=0;
      let cell_id = row_table.cells[c]
      id = cell_id.innerText
      ids.push(Number(id));
    }
    maxId = Math.max(...ids) + 1;  // get the highest value of the array

    // Create an empty <tr> element and add it to the 1st position of the table:
    let row = table.insertRow(-1);

    // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
    let cell1 = row.insertCell(0)
    let cell2 = row.insertCell(1)
    let cell3 = row.insertCell(2)
    let cell4 = row.insertCell(3)
    let cell5 = row.insertCell(4)
    let cell6 = row.insertCell(5)

    cell1.innerHTML = maxId;
    cell2.innerHTML = "";
    cell3.innerHTML = "";
    cell4.innerHTML = "";
    cell5.innerHTML = '<input type="checkbox" name=maxId onchange="setInnerText(this)" />';
    cell6.innerHTML = '<div onclick="deleteRow(this)" class="circle-button red-btn">-</div>';

    //cell1.className = 'yourclassname'
    //cell1.setAttribute('oncontextmenu', "return make_it_editable(this);");
    //cell1.setAttribute('ondblclick', "return make_it_editable(this);");
    //cell1.setAttribute('onblur', "make_it_readonly(this);");

    cell2.setAttribute('oncontextmenu', "return make_it_editable(this);");
    cell2.setAttribute('ondblclick', "return make_it_editable(this);");
    cell2.setAttribute('onblur', "make_it_readonly(this);");

    cell3.setAttribute('oncontextmenu', "return make_it_editable(this);");
    cell3.setAttribute('ondblclick', "return make_it_editable(this);");
    cell3.setAttribute('onblur', "make_it_readonly(this);");

    cell4.setAttribute('oncontextmenu', "return make_it_editable(this);");
    cell4.setAttribute('ondblclick', "return make_it_editable(this);");
    cell4.setAttribute('onblur', "make_it_readonly(this);");
}


function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("myTable").deleteRow(i);
}


function setInnerText(element){
    if(element.checked){
        element.innerText = "c";
    }
    else
    {
        element.innerText = "";
    }
}


function discover_hosts(){
    let settings_to_send = {};
    let netcard_dropdown = document.getElementById('myMulti_container');
    let netcard_items = netcard_dropdown.getElementsByClassName('item');

    // only keep elements with "item" class (remove "hide" class)
    let netcard_values = [];
    for(i=0; i < netcard_items.length; i++){
        element_classes = netcard_items[i].attributes.class.value;

        if(element_classes.includes('hide')){
          // skip
        }
        else{
            let value = netcard_items[i].textContent;
            netcard_values.push(value.slice(0, -1));
        }
    }

    settings_to_send['network_cards'] = netcard_values;
    settings_to_send['update_only'] = document.getElementById('discovery_update').checked;
    let settings_to_send_json = JSON.stringify(settings_to_send);

    AJAX("/discover_hosts/" + settings_to_send_json, "POST")
    .then(function(result) {
        // Code depending on result
        alert(result);
        location.reload(true);
    })
    .catch(function() {
        // An error occurred
    });
}


function save_changes(){
    let table=document.getElementById("myTable");
    let table_dict = {};
    let header = [];
    let r=0;
    while(row=table.rows[r++])
    {
      let c=0;

      // add first cell as key of the dictionary
      let id_n = Number(row.cells[0].innerText);
      let id;
      if(Number.isNaN(id_n)){
        id = row.cells[0].innerText;
      }
      else{
        id = id_n;
      }

      if(r!=1){
        table_dict[id] = [];
      }

      while(cell=row.cells[c++])
      {
        if(r===1){
           header.push(cell.innerText);
           continue;
        }

        if(c===5){  // if the cell contains a checkbox, turn to true or false
            if(cell.childNodes[0].checked){
              table_dict[row.cells[0].innerText].push(true);
            }
            else{
              table_dict[row.cells[0].innerText].push(false);
            }
        }
        else{
            let cell_value = cell.innerText;
            cell_value = cell_value.replace(/\n/g, "%0D%0A")
            table_dict[row.cells[0].innerText].push(cell_value);
        }
      }
    }

    table_dict['header'] = header;

    table_json = JSON.stringify(table_dict);
    AJAX("/update_devices/" + table_json, "POST")
    .then(function(result) {
        // Code depending on result
        document.getElementById('saving_status').innerText = result;
    })
    .catch(function() {
        // An error occurred
    });
}

</script>

{% endblock %}