{% extends 'base.html' %}
{% block content %}

    {# <button type="button" onclick="update_results()">refresh</button>  <!-- test purposes --> #}
    <table id="myTable" class="sortable">
        <thead>
            <tr class="noselect header">
{%     for _, h in table_fields.items()                               -%}
{%        if loop.index == 1 or loop.index == 3  or loop.index == 5   -%}
          <th data-tsorter="numeric">{{ h }}</th> {# nosort #}
{%        else                                                        -%}
          <th data-tsorter="input-text">{{ h }}</th> {# nosort #}
{%        endif                                                       -%}
{%     endfor                                                         -%}
            </tr>
        </thead>
        <tbody>

{%-     for d in records                                                %}
            <tr>
{%-       for k, _ in table_fields.items()                              %}
{%-          if k == 'status'                                           %}
                <td style="color:white">
{%-             if d[k]                                                 %}
                    1<i class="material-icons noselect ok ">check_circle</i>
{%-             else                                                    %}
                    0<i class="material-icons noselect ko">error</i>
{%-             endif                                                   %}
                </td>
{%-          else                                                       %}
                <td>{{ d[k] }}</td>
{%-          endif                                                      %}
{%-       endfor                                                        %}
            </tr>
{%-     endfor                                                          %}

        </tbody>
    </table>

<script>
let table_fields_db = {{ table_fields_db|safe }};


function refresh_table(results){
    let results_dict = {};
    for(i=0; i<results.length; i++) {
        let line_content = results[i];

        for(j=0; j<table_fields_db.length; j++) {
            let dict_key =  table_fields_db[0];
            results_dict[results[i][dict_key]] = results[i];
        }
    }

    let table = document.getElementById("myTable");
    let results_to_add_dict = {};  // not used at moment
    let results_done_list = [];

    var r=0;
    while(row=table.rows[r++])
    {
        if (r===1){
            continue; //skip the first line which is the table header
        }

        var c=0;
        while(cell=row.cells[c++])
        {
            if (c===1){
                id = cell.innerText;
                if (id in results_dict){
                    results_done_list.push(id);
                    let status_value = results_dict[id]['status'];
                    if (status_value === true){
                        status_value = '1<i class="material-icons ok">check_circle</i>';
                    }
                    else{
                        status_value = '0<i class="material-icons ko">error</i>';
                    }

                    row.cells[1].innerHTML = results_dict[id]['description'];    // description
                    row.cells[2].innerHTML = results_dict[id]['ip'];             // ip
                    row.cells[3].innerHTML = results_dict[id]['hostname'];       // hostname
                    row.cells[4].innerHTML = status_value;                       // status
                    row.cells[5].innerHTML = results_dict[id]['last_response'];  // last_response
                }
                else{
                    ;
                }
            }
        }
    }

    // remove id already processed because already in tha table
    for(z=0; z<results_done_list.length; z++){
        delete results_dict[results_done_list[z]];
    }

    //return ;
    // add element to the table, if new devices have been found
    for(record in results_dict) {
        let new_row = table.insertRow(-1);

        let line_content = results_dict[record];

        for(j=0; j<table_fields_db.length; j++) {
            let cell_value = line_content[table_fields_db[j]];
            if(cell_value === true){
                let status_cell = new_row.insertCell(-1)
                status_cell.style.color = "white";
                status_cell.innerHTML = '1<i class="material-icons noselect ok">check_circle</i>';
            }
            else if(cell_value === false){
                let status_cell = new_row.insertCell(-1)
                status_cell.style.color = "white";
                status_cell.innerHTML = '0<i class="material-icons noselect ko">error</i>';
            }
            else{
                let data_cell = new_row.insertCell(-1)
                data_cell.innerHTML = cell_value;
            }
        }
    }
}


function update_results() {
    let xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
            // document.getElementById("txtHint").innerHTML = this.responseText;
            let response = this.responseText;
            //alert(response);

            refresh_table(JSON.parse(response))
        }
    };
    xmlhttp.open("GET", "refresh", true);
    xmlhttp.send();

    let timeoutValue = Number(document.getElementById('refresh_timeout').valueAsNumber + "000");
    setTimeout(update_results, timeoutValue);  // check the results every 10s
}

let timeoutValue = Number(document.getElementById('refresh_timeout').valueAsNumber + "000");
setTimeout(update_results, timeoutValue);  // check the results every 10s
</script>
{% endblock %}